<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>测试页面</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
	<div id="app">
		<!-- <el-row v-for="item in list" :key="item.corpId">
				{{ item.external_userid }}
			</el-row> -->
		<el-tabs v-model="activeName" @tab-click="handleClick">
			<el-tab-pane label="Compund" name="first">
				<el-row>
					<el-button type="warning" @click="onSubmit1">市场token列表</el-button>
					<el-button type="primary" @click="onSubmit2">地址余额</el-button>
					<el-button type="success" @click="onSubmit3">市场利率</el-button>
					<el-button type="info" @click="onSubmit4">Approve授权</el-button>
					<el-button type="warning" @click="onSubmit5">借贷利率</el-button>
					<el-button type="danger" @click="onSubmit6">执行</el-button>
				</el-row>
				<el-divider></el-divider>
				<div>
					<span>结果1:</span></br>
					<span>ethBalance:{{balance.ethBalance}}</span></br>
					<span>cEthBalance:{{balance.cEthBalance}}</span></br>
					<span>cUnderlyingBalance:{{balance.cUnderlyingBalance}}</span></br>
				</div>
				<el-divider></el-divider>
				<div>
					<span>结果2:</span></br>
					<span>supplyApyETH:{{apy.supplyApyETH}}</span></br>
					<span>borrowApyETH:{{apy.borrowApyETH}}</span></br>
				</div>
				<el-input type="textarea" :autosize="{ minRows: 6, maxRows: 8}" placeholder="结果:" v-model="textarea1">
				</el-input>

			</el-tab-pane>
			<el-tab-pane label="Makerdao" name="second">
				<el-row>
					<el-button @click="onSubmit7">地址信息</el-button>
					<el-button type="primary" @click="onSubmit8">系统信息</el-button>
					<el-button type="success" @click="onSubmit9">抵押ETH借贷</el-button>
					<el-button type="info" @click="onSubmit10">还DAI关闭CDP</el-button>
					<el-button type="warning" @click="onSubmit11">存储利率市场</el-button>

				</el-row>

				<el-divider></el-divider>
				<!-- <div>
						<span>结果7:</span></br>
						<span>blockNumber:{{accountInfo.blockNumber}}</span></br>
						<span>owner:{{accountInfo.owner}}</span></br>
						<span>ETH:{{accountInfo.ETH}}</span></br>
					</div> -->
				<el-input type="textarea" :autosize="{ minRows: 6, maxRows: 8}" placeholder="结果:" v-model="textarea2">
				</el-input>
			</el-tab-pane>
		</el-tabs>
	</div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
	new Vue({
		el: '#app',
		data: function () {
			return {
				activeName: 'first',
				textarea2: "",
				textarea1: ""
			};
		},
		methods: {
			getList() {
				// 声明变量承载当前作用域，用于请求回调中使用
				var _this = this;
				axios.get("http://113.31.105.58:7001/api/makerdao/accountInfo")
					.then(function (response) {
						//response为请求响应，后台返回数据在response.data中
						console.log(response.data);
						/**
						 * 我这边后台返回的数据为
						 * {"state":1,"message":"操作成功","data":[{"corpId":"wwadba9051b034e6b4","external_userid":"wmOUQJEAAAxJCYZrd2T9RveToTqRplcg"}]}
						 * 所以最终列表数据需要通过response.data.data获取
						 */
						//_this.list = response.data ? response.data.data : [];
					})
			},

			onSubmit1() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/getOverview")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea1 = JSON.stringify(response.data.data);
						}

					})
			},
			onSubmit2() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/getBalance")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea1 = JSON.stringify(response.data.data);
						}
					})
			},
			onSubmit3() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/getApyByToken")
					.then(function (response) {
						_this.textarea1 = JSON.stringify(response.data.data);
					})
			},
			onSubmit4() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/borrowERC20ByETH")
					.then(function (response) {
						_this.textarea1 = JSON.stringify(response.data.data);
					})
			},
			onSubmit5() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/borrowRate")
					.then(function (response) {
						_this.textarea1 = JSON.stringify(response.data.data);
					})
			},
			onSubmit6() {
				var _this = this;
				_this.textarea1 = "";
				axios.get("http://127.0.0.1:7001/api/compound/borrowExecute")
					.then(function (response) {
						_this.textarea1 = JSON.stringify(response.data.data);
					})
			},
			onSubmit7() {
				var _this = this;
				_this.textarea2 = "";
				axios.get("http://113.31.105.58:7001/api/makerdao/accountInfo")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea2 = JSON.stringify(response.data.data);
						}
					})
			},
			onSubmit8() {
				var _this = this;
				_this.textarea2 = "";
				axios.get("http://113.31.105.58:7001/api/makerdao/mcdSystemData")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea2 = JSON.stringify(response.data.data);
						}
					})
			},
			onSubmit9() {
				var _this = this;
				_this.textarea2 = "";
				axios.get("http://113.31.105.58:7001/api/makerdao/createVault")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea2 = JSON.stringify(response.data.data);
						}
					})
			},
			onSubmit10() {
				var _this = this;
				_this.textarea2 = "";
				axios.get("http://113.31.105.58:7001/api/makerdao/accountInfo")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea2 = JSON.stringify(response.data.data);
						}
					})
			},
			onSubmit11() {
				var _this = this;
				_this.textarea2 = "";
				axios.get("http://113.31.105.58:7001/api/makerdao/mcdSaving")
					.then(function (response) {
						if (response.data.status === 200) {
							_this.textarea2 = JSON.stringify(response.data.data);
						}
					})
			},
		},
		// 进入该页面时，自动执行created中的代码
		created() {
			// 调用接口请求数据
			//this.getList();
		}

	})
</script>

</html>